
<div class="container">
  <div class="row">
    <div class="col-md-12 app-search">
      <app-search  (leagueEvent)="getLeague($event)" [leagues]="leagues">
      </app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 app-league-detail" *ngIf="league">
      <app-detail-league [league]="league" (teamEvent)="getTeam($event)"></app-detail-league>
    </div>
    <div class="col-md-6 app-league-detail" *ngIf="team">
      <app-detail-team [team]="team"></app-detail-team>
    </div>
  </div>
</div>
