.keyword-wrapper {
  margin-top: 50px;
}

.filter-select {
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 5px;
}

.filter-select-list img {
  margin-right: 5px;
}

.tags {
  font-size: 14px;
  color: #252424;
  margin-right: 10px;
  position: relative;
}

.filter-select-list:hover .tags {
  color: #fff;
}

.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
}

.artist-name {
  display: inline-block;
  position: absolute;
}

.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff
}

.list-highlight, .list-highlight:hover {
  background: rgb(55, 55, 55);
  color: #fff
}

@media only screen and (max-width: 768px) {
  .filter-select, #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    /* left: 10%; */
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}

@media only screen and (max-width: 480px) {
  .filter-select, #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
}
